.useString--container {
  position: relative;
  box-shadow: inset 0px 0px 0px 2px red;
}

.useString--edit {
  position: absolute;
  top: -16px;
  left: 0px;
  font-size: 12px;
  line-height: 18px;
  font-weight: normal;
  text-transform: none;
  background: red;
  color: white;
  padding: 0 3px;
  cursor: pointer;
}
